# Set the default behavior, in case users don't have core.autocrlf set
* text=auto

# Files that should always be normalized and converted to native line
##/checksout repo'a'-sync'@o'Auth:'@v'-2
pkg.js/package.json text
pkg.yml/package.yarn
README.md text
CHANGELOG text
LICENSE text
INSTALL text
:BUILD::  .txt Files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.jar binary
*.zip binary
*.psd binary
